* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-primary-sidebar: #0D1B2A;
  --background-accent-sidebar: #1B263B;
  --background-accent-hover-sidebar: #1f2c44;
  --text-primary-sidebar: #fff;
  --text-secondary-sidebar: #B3B3B3;
  --width-main-sidebar: 320px;

  --background-primary: #fff;
  --background-secondary: #f9f9f9;
  --background-tertiary: #f4f4f4;
  --text-primary: #333;
  --text-secondary: #666;
  --background-controls: #0D1B2A;
  --background-accent-controls: #1B263B;
  --background-accent-hover-controls: #1f2c44;
  --text-controls: #fff;
  --text-accent-controls: #B3B3B3;
  --width-controls: 320px;
  --header-height: 64px;
  --cell-dead: #fefefe;
  --cell-alive: #02203c;
}

body {
  margin: 0;
  background-color: var(--background-primary);
}

h1 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}